body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.filter-section {
  margin-bottom: 20px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-item img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
}

.user-item div {
  flex-grow: 1;
}

.upload-section {
  display: flex;
  flex-direction: column;
}

.upload-section input {
  margin-top: 10px;
}

.upload-section button {
  display: block;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .user-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .user-item img {
      margin-bottom: 10px;
  }

  .sort-section, .filter-section, .upload-section {
      margin-bottom: 20px;
  }

  .container {
      padding: 10px;
  }
}

